.first, .footer{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: #f9faf8;
}
.first{
    padding: 32px 200px ;
}
.website{
    display: flex;
    margin:50px 0 50px 0;
    justify-content: space-between;

}
.awesome{
    max-width:400px ;

}
.header{
    display: flex;
    justify-content: space-between;
} 
.links{
    display: flex;
    gap:10px;
}
ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
  }
  li{
    list-style: none;
  }
  
#photo{
    width:700px;
    height: 250px;
}
h1{
    font-size: 48px;
    font-weight: bolder;
}
button{
    background-color: #3882F6;
    padding:2px 16px ;
    font-size: 16px;
    color:#f9faf8;
    border-radius: 8px;
    }
h2{
    text-align: center;
}
.container{
    display: flex;
}
.info{
    border-color: #3882F6;
    border-width: 2px;
    border-radius: 8px;
}
